@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Avenir Next Georgian';
    src: url(../fonts/AvenirNextGeorgian-Regular.woff) format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Avenir Next Georgian Medium';
    src: url(../fonts/AvenirNextGeorgian-Medium.a79d49a7.otf)
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../fonts/AvenirNextGeorgian-Bold.9fb63d6f.otf)
}

@font-face {
    font-family: 'Avenir Next Light';
    src: url(../fonts/AvenirNextGeorgian-Light.81138dcc.otf)
}

@font-face {
    font-family: 'Avenir Next Georgian Xtrabold';
    src: url(../fonts/AvenirNextGeorgian-XtraBd.1ffb9ded.otf)
}
.responsive-bg{
    max-width: 100%;
}
@media (max-width: 768px) {
    .responsive-bg {
        background-size: cover;
        background-position: center top;
    }
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    width: 100px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f0f0f0;
}
